vendor/
node_modules/
dist/**
!dist/credentials/
!dist/credentials/AtomicMailApi.credentials.js
!dist/nodes/
!dist/nodes/AtomicMail/
!dist/nodes/AtomicMail/AtomicMail.node.js
!dist/nodes/AtomicMailTrigger/
!dist/nodes/AtomicMailTrigger/AtomicMailTrigger.node.js
*.tgz
